{% extends 'base.html' %}  
{% block content %} 
    {% for blog in posts %}
    <div class="container">
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ blog.title }}</h5>
                <p>{{ blog.pub_date | date:"Y-m-d H:i:s" }}</p>
                <p class="card-text">{{ blog.summary  }}...</p>
                <a href="{% url 'detail' blog.id %}" class="btn btn-primary">자세히 보기</a>
            </div>
        </div>
    </div>        
    {% endfor %}

    {%if posts.has_previous%}
    <a href="?page=1">First</a>
    <a href="?page={{posts.previous_page_number}}">Previous</a>
    {%endif%}

    <span>{{posts.number}}</span>
    <span>of</span>
    <span>{{posts.paginator.num_pages}}</span>

    {%if posts.has_next%}
    <a href="?page={{posts.next_page_number}}">Next</a>
    <a href="?page={{posts.paginator.num_pages}}">Last</a>
    {%endif%}

</body>
{% endblock %}

